*
  margin: 0;
  padding: 0;
  box-sizing border-box
  font-family ProximaNova

*:after
*:before
  box-sizing border-box

html
  min-height: 100%

body
#page
  min-height: 100vh

input,
button,
textarea
  outline none

a
button
input[type=button]
input[type=submit]
  cursor pointer

button
input[type=button]
input[type=submit]
  border none

a
  text-decoration none

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none;
  margin: 0;