$min-content-width = 200px          // Минимальная ширина контента на странице
$max-content-width = 1440px         // Максимальная ширина контента на странице (100vw если нужна вся ширина экрана)
$header-height = 100px              // Высота шапки
$footer-height = 100px              // Высота подвала
$row-gap = 50px                     // Отступ от контента до шапки и подвала
$transition = all ease-in-out 0.6s  // Базовая анимация

// main layout
$header-bg = #333333
$footer-bg = #333333
$content-bg = #9e9e9e

// dark layout
$dark_header-bg = #000000
$dark_footer-bg = #000000
$dark_content-bg = #565656

// Used for debug
$debug = false