<!--[if lt IE 8]>
p.browserupgrade Вы используете
    strong сильно
    | устаревший браузер. Пожалуйста
    a(href="https://browsehappy.com/") Обновите свой браузер
    | , чтобы улучшить свой опыт и безопасность.
<![endif]-->